@tailwind utilities;
@tailwind components;
@tailwind base;

@layer base {
	:root {
		font-family: sans-serif;
		--remove-hover: #cc1010;
	}

	.red-theme {
		--site-bg: hsl(0deg, 20%, 5%);
		--bg: hsl(0deg, 20%, 20%);
		--panel-bg: hsl(0deg, 20%, 25%);
		--text-color: hsl(0deg, 20%, 80%);
		--button-hover: hsl(0deg, 20%, 50%);
	}

	.orange-theme {
		--site-bg: hsl(30deg, 20%, 5%);
		--bg: hsl(30deg, 20%, 20%);
		--panel-bg: hsl(30deg, 20%, 25%);
		--text-color: hsl(30deg, 20%, 80%);
		--button-hover: hsl(30deg, 20%, 50%);
	}

	.yellow-theme {
		--site-bg: hsl(60deg, 20%, 5%);
		--bg: hsl(60deg, 20%, 20%);
		--panel-bg: hsl(60deg, 20%, 25%);
		--text-color: hsl(60deg, 20%, 80%);
		--button-hover: hsl(60deg, 20%, 50%);
	}

	.yellow-green-theme {
		--site-bg: hsl(90deg, 20%, 5%);
		--bg: hsl(90deg, 20%, 20%);
		--panel-bg: hsl(90deg, 20%, 25%);
		--text-color: hsl(90deg, 20%, 80%);
		--button-hover: hsl(90deg, 20%, 50%);
	}
	
	.green-theme {
		--site-bg: hsl(120deg, 20%, 5%);
		--bg: hsl(120deg, 20%, 20%);
		--panel-bg: hsl(120deg, 20%, 25%);
		--text-color: hsl(120deg, 20%, 80%);
		--button-hover: hsl(120deg, 20%, 50%);
	}

	.dark-green-theme {
		--site-bg: hsl(150deg, 20%, 5%);
		--bg: hsl(150deg, 20%, 20%);
		--panel-bg: hsl(150deg, 20%, 25%);
		--text-color: hsl(150deg, 20%, 80%);
		--button-hover: hsl(150deg, 20%, 50%);
	}

	.green-blue-theme {
		--site-bg: hsl(180deg, 20%, 5%);
		--bg: hsl(180deg, 20%, 20%);
		--panel-bg: hsl(180deg, 20%, 25%);
		--text-color: hsl(180deg, 20%, 80%);
		--button-hover: hsl(180deg, 20%, 50%);
	}
	
	.gray-theme {
		--site-bg: hsl(210deg, 20%, 5%);
		--bg: hsl(210deg, 20%, 20%);
		--panel-bg: hsl(210deg, 20%, 25%);
		--text-color: hsl(210deg, 20%, 80%);
		--button-hover: hsl(210deg, 20%, 50%);
	}

	.dark-purple-theme {
		--site-bg: hsl(240deg, 20%, 5%);
		--bg: hsl(240deg, 20%, 20%);
		--panel-bg: hsl(240deg, 20%, 25%);
		--text-color: hsl(240deg, 20%, 80%);
		--button-hover: hsl(240deg, 20%, 50%);
	}

	.purple-theme {
		--site-bg: hsl(270deg, 20%, 5%);
		--bg: hsl(270deg, 20%, 20%);
		--panel-bg: hsl(270deg, 20%, 25%);
		--text-color: hsl(270deg, 20%, 80%);
		--button-hover: hsl(270deg, 20%, 50%);
	}

	.pink-theme {
		--site-bg: hsl(300deg, 20%, 5%);
		--bg: hsl(300deg, 20%, 20%);
		--panel-bg: hsl(300deg, 20%, 25%);
		--text-color: hsl(300deg, 20%, 80%);
		--button-hover: hsl(300deg, 20%, 50%);
	}

	.pink-red-theme {
		--site-bg: hsl(330deg, 20%, 5%);
		--bg: hsl(330deg, 20%, 20%);
		--panel-bg: hsl(330deg, 20%, 25%);
		--text-color: hsl(330deg, 20%, 80%);
		--button-hover: hsl(330deg, 20%, 50%);
	}

	* {
		transition-property: background-color, color, box-shadow;
		transition-duration: 200ms;
		transition-timing-function: ease-in-out;
	}
}
